img{
    border: 5px solid white;
    width: 100%;
    margin-top:20% ;
}
body{
    font-family: "Libre Baskerville";
    background-color: black;
    color: white;
    text-align: center;
}
#motivation
{  
    width: 50%;
    margin-left: 25%;
}
h1{
    text-transform: uppercase;
}
p{
    text-transform: capitalize;
}
